<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="WARN">
    <Properties>
        <Property name="pattern_layout">%d [%t] %level %logger - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_layout}"/>
        </Console>
        <File name="FileAppender" fileName="target/logs/${date:yyyy-MM-dd-HH:mm:ss}.log">
            <PatternLayout pattern="${pattern_layout}"/>
            <ThresholdFilter>
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </ThresholdFilter>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>